@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto+Slab|Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed|Share+Tech');
@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu|Boogaloo|Lobster|Oleo+Script');

body,
button,
input,
select,
textarea{
    font-family: 'Share Tech', sans-serif;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span{
    font-family: 'Share Tech', sans-serif;
}

.ic-card{
    border-radius: 10px;
}

.box-shadow{
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}
.overflow-hide{
    overflow: hidden;
}
