<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}{% endblock %}
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/ic-style.css">
    {% block styles %}{% endblock %}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="http://console.hongliang.org/js/console.min.js?mguiOzNm"></script>
    {% block scripts %}{% endblock %}
</head>
<body>
    {% block navbar %}{% endblock %}
    {% block content %}{% endblock %}
</body>

</html>
