{% extends "base_navbar.html" %} {% block title %}
<title>Stippling Shader</title>
{% endblock %} {% block scripts %}
<script src="../static/js/3D/three.min.js"></script>
<script src="../static/js/3D/controls/OrbitControls.js"></script>
<script src="../static/js/3D/libs/stats.min.js"></script>
<script src='../static/js/3D/libs/dat.gui.min.js'></script>
<script src="../static/js/3D/loaders/OBJLoader.js"></script>
<script src="../static/js/3D/loaders/OBMLoader.min.js"></script>
<script src="../static/js/3D/loaders/MTLLoader.js"></script>
<script src="../static/js/3D/postprocessing/EffectComposer.js"></script>
<script src="../static/js/3D/postprocessing/RenderPass.js"></script>
<script src="../static/js/3D/postprocessing/ShaderPass.js"></script>
<script src="../static/js/3D/postprocessing/OutlinePass.js"></script>
<script src="../static/js/3D/shaders/CopyShader.js"></script>
<script src="../static/js/3D/shaders/FXAAShader.js"></script>
<script src="../static/js/3D/shaders/DotScreenShader.js"></script>


{% endblock %} {% block content %}
<div id="container" class="container position-relative bg-light box-shadow overflow-hide ic-card card-body " style="height: calc(100vh - 110px); min-height:500px">
  <div id="canvas-container" class="h-100"></div>
  <div id="info-container" class="position-absolute" style="bottom: 50px; left: 50%; transform: translateX(-50%)">
    <div id="info-item" class="mx-auto text-center">
      <span id="info-text" class="mx-auto h2 text-secondary">Stippling Shader</span>
    </div>
  </div>
  <div id="mask-container" class="position-absolute bg-dark align-items-center text-secondary w-100 h-100 text-center" style="display: flex; top: 0; left: 50%; transform: translateX(-50%);">
    <div id="prograss-item" class="mx-auto">
      <span class="h3">loading...</span></br>
      <span id="prograss-meta" class="h3">0%</span>
    </div>
  </div>
</div>

<script src="../static/js/stippling.js"></script>
{% endblock %}
